Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false
  stages:
  ...

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

Add design spec for gateway request lifecycle Grafana dashboard (YSH-869)
  docs/superpowers/specs/2026-09-09-gateway-lifecycle-dashboard-design.md
Due: none

feat(gateway): split API-key & interceptor breakdowns into dedicated dashboards (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add per-span latency distribution heatmap row (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): move fraction-over-100ms panel into Overview row (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): match Prometheus le label format for whole-number ladder bounds (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): shorten tail-fraction legend to '>Nms rhs', axis label to '% over N' (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add lifecycle overview panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

chore: remove superpowers spec/plan docs from PR (YSH-869)
  docs/superpowers/plans/2026-09-09-gateway-lifecycle-dashboard.md
  docs/superpowers/specs/2026-09-09-gateway-lifecycle-dashboard-design.md
Due: none

feat(gateway): add response-path lifecycle stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): refine request lifecycle preview wording in README and values.yaml (YSH-869)
  charts/gateway/README.md
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): document gateway.preview.lifecycle flag in README (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): point dashboard descriptions to docs.conduktor.io; drop flag/_count notes (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): wire lifecycle dashboard into chart (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add 'Throughput per API key' overview panel after max-per-API-key (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): document lifecycle preview dashboards in Grafana section (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix(gateway): move legend to bottom on right-axis panels to reclaim graph width (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): drop "preview" wording from lifecycleMetrics flag docs (YSH-869)
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): swap stage p99 for exact % over 500ms; add Apdex overview (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): refine dashboard titles and descriptions (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): gate lifecycle metrics behind gateway.preview.lifecycle (YSH-869)
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): add lifecycle dashboard skeleton (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): fold interceptor spans into Request/Response rows as stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): regenerate README to match CI readme-generator output (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): add request-path lifecycle stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): move lifecycle flag to metrics.lifecycle.enable and add scoping config (YSH-869)
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Gateway: Add request lifecycle metrics Grafana dashboard (YSH-869) (#307)
  charts/gateway/README.md
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix(gateway): render main dashboard when only the v4 Grafana operator is present (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): rename dashboard list key preview to lifecycleMetrics (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): lead lifecycle dashboard titles with "Conduktor Gateway Lifecycle" (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): generate GrafanaDashboard resources by iterating a dashboard list (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): use consistent "Conduktor Gateway [ns/release] - <name>" dashboard titles (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

test(gateway): add ci scenario covering the grafana dashboards template (YSH-869)
  charts/gateway/ci/12-grafana-lifecycle-dashboards-values.yaml
  test/helm.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Gateway: simplify grafana-dashboards template + v4-operator fix (YSH-869) (#308)
  charts/gateway/ci/12-grafana-lifecycle-dashboards-values.yaml
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
  test/helm.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): expend advertiseHost pattern inside certManager DNS name SAN
  charts/gateway/README.md
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

update test
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

gateway: Derive input keystore/truststore type from key extension or explicit value
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix(gateway): expend advertiseHost pattern inside certManager DNS name SAN (#311)
  charts/gateway/README.md
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

gateway: Derive input keystore/truststore type from key extension or explicit value (#312)
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.22.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix the comment spacing issue
  Makefile
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
