Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false
  stages:
  ...

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

Optimize tests with async depdendencies install
  test/dependencies.py
  test/helm.py
Due: none

Share dependencies between tests
  Makefile
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/ci/test-config.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/ci/test-config.yaml
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Refactor test output format to use ANSI colors
  shell.nix
  test/kubernetes.py
  test/lint.py
  test/requirements.txt
  test/runner.py
  test/utils.py
Due: none

Optimize tests with async ns delete
  test/kubernetes.py
  test/runner.py
Due: none

Remove test files from helm packaging
  charts/console/.helmignore
  charts/gateway/.helmignore
  charts/provisioner/.helmignore
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Merge dependencies in chart ci folders
  charts/console/ci/dependencies.yaml
  charts/gateway/ci/dependencies.yaml
  charts/provisioner/ci/dependencies.yaml
  test/config.py
  test/shared-deps/redpanda/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Cleanup helm tests and hidden tests flag values
  .pre-commit-config.yaml
  charts/console/templates/tests/03-platform-healthy.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.yaml
  charts/provisioner/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add pause_on_failure flag to debug test scenario
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/templates/tests/health-check.yaml
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update makefile test-run with PAUSE_ON_FAILURE flag
  Makefile
Due: none

Update chart console version to 1.27.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Add configurable timeout
  Makefile
  charts/console/ci/test-config.yaml
  charts/gateway/ci/test-config.yaml
  charts/provisioner/ci/test-config.yaml
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update README
  README.md
Due: none

Add missing concurrency on CI for pull requests
  .github/workflows/chart-test.yaml
Due: none

Add execution timing logs
  test/runner.py
  test/utils.py
Due: none

Add README for test framwork
  test/README.md
Due: none

Update Gateway chart application to 3.17.1
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fixed linter issue
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.17.1 (#252)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.17.1
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Console chart application to 1.43.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.43.0 (#253)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.28.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

provide a license key for gw tests
  .github/workflows/chart-test.yaml
Due: none

Update Console chart application to 1.43.1
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.43.1 (#256)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.28.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.17.2
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix formatting in Chart.yaml dependency version
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.17.2 (#257)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.17.2
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Console chart application to 1.43.2
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.43.2 (#258)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.28.2
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
