Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false
  stages:
  ...

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

feat(gateway): fold interceptor spans into Request/Response rows as stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): refine dashboard titles and descriptions (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

chore: remove superpowers spec/plan docs from PR (YSH-869)
  docs/superpowers/plans/2026-09-09-gateway-lifecycle-dashboard.md
  docs/superpowers/specs/2026-09-09-gateway-lifecycle-dashboard-design.md
Due: none

feat(gateway): gate lifecycle metrics behind gateway.preview.lifecycle (YSH-869)
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): make lifecycle dashboards public-ready and expand docs (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): document gateway.preview.lifecycle flag in README (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): document lifecycle preview dashboards in Grafana section (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): refine request lifecycle preview wording in README and values.yaml (YSH-869)
  charts/gateway/README.md
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): regenerate README to match CI readme-generator output (YSH-869)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

refactor(gateway): move lifecycle preview flag to metrics.grafana.lifecycleMetrics (YSH-869)
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): drop "preview" wording from lifecycleMetrics flag docs (YSH-869)
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

refactor(gateway): generate GrafanaDashboard resources by iterating a dashboard list (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): rename dashboard list key preview to lifecycleMetrics (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): render main dashboard when only the v4 Grafana operator is present (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): use consistent "Conduktor Gateway [ns/release] - <name>" dashboard titles (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

test(gateway): add ci scenario covering the grafana dashboards template (YSH-869)
  charts/gateway/ci/12-grafana-lifecycle-dashboards-values.yaml
  test/helm.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

refactor(gateway): move lifecycle flag to metrics.lifecycle.enable and add scoping config (YSH-869)
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/grafana-dashboards.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.47.2
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.47.2 (#310)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.32.2
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

feat(gateway): add collapsed per-API-key and per-interceptor breakdown rows (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): replace per-span heatmaps with cumulative %-under-ladder line panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): split Overview into 'per API key' and 'per stage' rows (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): change per-span distribution to '% in bucket' lines (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): pair each span's line panel with its distribution heatmap (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add lifecycle SLO fraction-over-100ms panel (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): drop redundant 'rhs' from tail-fraction legend (Grafana auto-adds '(right y-axis)') (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): add lifecycle dashboard implementation plan (YSH-869)
  docs/superpowers/plans/2026-09-09-gateway-lifecycle-dashboard.md
Due: none

feat(gateway): total-latency panel uses exact % over 1s instead of p99 (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

chore(gateway): align v4/v5 lifecycle dashboard CR trunc lengths (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): rework Overview — per-API-key total mean/max, drop Apdex, half-width, bottom legends (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add per-interceptor lifecycle panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
