Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: 'charts/.*/templates/.*\.yaml$'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: '(charts/.*/README\.md$|charts/.*/values\.yaml$|charts/.*/ci/.*\.yaml$)'
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: end-of-file-fixer
        exclude: '(charts/.*/.*\.schema.json$)'
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: helm-lint-gateway
        name: Helm Lint Gateway Chart
        entry: bash -c 'helm lint charts/gateway'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-console
        name: Helm Lint Console Chart
        entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test' # pragma: allowlist secret
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-provisioner
        name: Helm Lint Provisioner Chart
        entry: bash -c 'helm lint charts/provisioner'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: readme-generator
        name: Generate Chart READMEs
        entry: make generate-readme
        language: system
        pass_filenames: false
        files: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
        types: [text]
        stages: [pre-commit, pre-push, manual]

Update provisioner cli version to 0.9.2
  charts/provisioner/Chart.yaml
  charts/provisioner/README.md
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix Gateway health endpoint in provisioner chart (#302)
  charts/provisioner/Chart.yaml
  charts/provisioner/README.md
  charts/provisioner/ci/test-config.yaml
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart provisioner version to 0.3.0
  charts/provisioner/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Update Console chart application to 1.47.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.47.0 (#304)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.32.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.21.1
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.47.1
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.47.1 (#306)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.32.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add design spec for gateway request lifecycle Grafana dashboard (YSH-869)
  docs/superpowers/specs/2026-09-09-gateway-lifecycle-dashboard-design.md
Due: none

feat(gateway): add lifecycle dashboard skeleton (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): wire lifecycle dashboard into chart (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add lifecycle overview panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add request-path lifecycle stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add response-path lifecycle stage panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add lifecycle SLO fraction-over-100ms panel (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add per-interceptor lifecycle panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

chore(gateway): align v4/v5 lifecycle dashboard CR trunc lengths (YSH-869)
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): add lifecycle dashboard implementation plan (YSH-869)
  docs/superpowers/plans/2026-09-09-gateway-lifecycle-dashboard.md
Due: none

feat(gateway): add per-span latency distribution heatmap row (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): move fraction-over-100ms panel into Overview row (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): swap stage p99 for exact % over 500ms; add Apdex overview (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): total-latency panel uses exact % over 1s instead of p99 (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): pair each span's line panel with its distribution heatmap (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): shorten tail-fraction legend to '>Nms rhs', axis label to '% over N' (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add collapsed per-API-key and per-interceptor breakdown rows (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): drop redundant 'rhs' from tail-fraction legend (Grafana auto-adds '(right y-axis)') (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): move legend to bottom on right-axis panels to reclaim graph width (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): replace per-span heatmaps with cumulative %-under-ladder line panels (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): split API-key & interceptor breakdowns into dedicated dashboards (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
  charts/gateway/templates/grafana-dashboards.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): change per-span distribution to '% in bucket' lines (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): rework Overview — per-API-key total mean/max, drop Apdex, half-width, bottom legends (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add 'Throughput per API key' overview panel after max-per-API-key (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): point dashboard descriptions to docs.conduktor.io; drop flag/_count notes (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-apikey.json
  charts/gateway/grafana-dashboards/gateway-lifecycle-by-interceptor.json
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): split Overview into 'per API key' and 'per stage' rows (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): match Prometheus le label format for whole-number ladder bounds (YSH-869)
  charts/gateway/grafana-dashboards/gateway-lifecycle.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner
