Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: 'charts/.*/templates/.*\.yaml$'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: '(charts/.*/README\.md$|charts/.*/values\.yaml$|charts/.*/ci/.*\.yaml$)'
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: end-of-file-fixer
        exclude: '(charts/.*/.*\.schema.json$)'
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: helm-lint-gateway
        name: Helm Lint Gateway Chart
        entry: bash -c 'helm lint charts/gateway'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-console
        name: Helm Lint Console Chart
        entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test' # pragma: allowlist secret
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-provisioner
        name: Helm Lint Provisioner Chart
        entry: bash -c 'helm lint charts/provisioner'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: readme-generator
        name: Generate Chart READMEs
        entry: make generate-readme
        language: system
        pass_filenames: false
        files: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
        types: [text]
        stages: [pre-commit, pre-push, manual]

feat(gateway): guard health-check test containers behind service.internal.enable
  charts/gateway/templates/tests/health-check.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): hide internal service admin access instructions in NOTES.txt when service.internal.enable=false
  charts/gateway/templates/NOTES.txt
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

test(gateway): add CI values file for service.internal.enable=false
  charts/gateway/ci/11-gateway-no-internal-service-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(gateway): use envExists helper for GATEWAY_LISTENER_INTERNAL_ADVERTISED_HOST validation
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): regenerate README with service.internal.enable parameter
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add enable flag to gateway.listeners.internal/external
  charts/gateway/README.md
  charts/gateway/ci/11-listener-external-only-values.yaml
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.46.2
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(console): add air-gapped deployment guide to chart README
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Document listener enable flags and fix internal SNI condition order
  charts/gateway/README.md
  charts/gateway/templates/service-broker-sni.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix CI: move Multi-listeners mode README description into values.yaml
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add enable flag to gateway.listeners.internal/external (#292)
  charts/gateway/README.md
  charts/gateway/ci/11-listener-external-only-values.yaml
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): expose topologySpreadConstraints on the Gateway deployment
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Remove version bump
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Apply Quentin's suggestions
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): expose topologySpreadConstraints on the Gateway deployment (#295)
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(console): add air-gapped deployment guide to chart README (#294)
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.22.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Update Console chart application to 1.46.2 (#293)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.31.2
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): derive the JKS private key password in the bring-your-own-keystore path
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Leave version to current version
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): derive the JKS private key password in the bring-your-own-keystore path (#297)
  charts/gateway/README.md
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(debug): Add opt-in container-debug sidecar container to console and console-cortex
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/templates/console/deployment.yaml
  charts/console/templates/cortex/deployment.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(debug): Add opt-in container-debug sidecar container to Gateway pod
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix(test): during upgrade test use values from last released chart version instead of main
  test/config.py
  test/runner.py
Due: none

fix(test): during upgrade test use values from last released chart version instead of main (#300)
  test/config.py
  test/runner.py
Due: none

Fix Gateway healthcheck endpoint used in chart tests to from removed /health to /health/ready
  charts/gateway/templates/tests/health-check.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix Gateway health endpoint in provisioner chart
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix Gateway healthcheck endpoint used in chart tests to from removed /health to /health/ready (#301)
  charts/gateway/templates/tests/health-check.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(debug): Add opt-in container-debug sidecar container to Gateway pod (#299)
  charts/gateway/README.md
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.21.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix linting
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.21.0 (#303)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.23.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

test: update provisioner gateway test config
  charts/provisioner/ci/test-config.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(debug): Add opt-in container-debug sidecar container to console and console-cortex (#298)
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/templates/console/deployment.yaml
  charts/console/templates/cortex/deployment.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix provisioner gateway dependency missing license
  charts/provisioner/ci/test-config.yaml
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner
