Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: 'charts/.*/templates/.*\.yaml$'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: '(charts/.*/README\.md$|charts/.*/values\.yaml$|charts/.*/ci/.*\.yaml$)'
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: end-of-file-fixer
        exclude: '(charts/.*/.*\.schema.json$)'
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: helm-lint-gateway
        name: Helm Lint Gateway Chart
        entry: bash -c 'helm lint charts/gateway'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-console
        name: Helm Lint Console Chart
        entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test' # pragma: allowlist secret
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-provisioner
        name: Helm Lint Provisioner Chart
        entry: bash -c 'helm lint charts/provisioner'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: readme-generator
        name: Generate Chart READMEs
        entry: make generate-readme
        language: system
        pass_filenames: false
        files: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
        types: [text]
        stages: [pre-commit, pre-push, manual]

Fix chart test values linting with kubeconform
  shell.nix
  test/helm.py
  test/lint.py
  test/utils.py
Due: none

Share dependencies between tests
  Makefile
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/ci/test-config.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/ci/test-config.yaml
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix comment linting issue
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Merge dependencies in chart ci folders
  charts/console/ci/dependencies.yaml
  charts/gateway/ci/dependencies.yaml
  charts/provisioner/ci/dependencies.yaml
  test/config.py
  test/shared-deps/redpanda/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Refactor test output format to use ANSI colors
  shell.nix
  test/kubernetes.py
  test/lint.py
  test/requirements.txt
  test/runner.py
  test/utils.py
Due: none

Optimize tests with async depdendencies install
  test/dependencies.py
  test/helm.py
Due: none

Update upgrade detection
  Makefile
  test/config.py
  test/helm.py
  test/runner.py
Due: none

Enable verbose on CI
  .github/workflows/chart-test.yaml
Due: none

Cleanup helm tests and hidden tests flag values
  .pre-commit-config.yaml
  charts/console/templates/tests/03-platform-healthy.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.yaml
  charts/provisioner/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

First iteration
  .github/workflows/chart-test.yaml
  Makefile
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  test/__init__.py
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/requirements.txt
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/shared-deps/redpanda/values.yaml
  test/utils.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

simplify test framework
  .envrc
  .gitignore
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/templates/tests/01-setup-dependencies.yaml
  charts/console/templates/tests/02-setup-secrets.yaml
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfSigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/templates/tests/01-setup-dependency.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/Chart.lock
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/templates/tests/01-dependencies.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  shell.nix
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/utils.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix lint ci job and skip dependencies build if uneeded
  .github/workflows/chart-test.yaml
  test/helm.py
Due: none

Fix gateway and provisioner tests
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/provisioner/test-deps/dependencies.yaml
  test/shared-deps/kafka/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Remove test files from helm packaging
  charts/console/.helmignore
  charts/gateway/.helmignore
  charts/provisioner/.helmignore
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add execution timing logs
  test/runner.py
  test/utils.py
Due: none

Add pause_on_failure flag to debug test scenario
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/templates/tests/health-check.yaml
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add README for test framwork
  test/README.md
Due: none

Add missing concurrency on CI for pull requests
  .github/workflows/chart-test.yaml
Due: none

Update README
  README.md
Due: none

Update makefile test-run with PAUSE_ON_FAILURE flag
  Makefile
Due: none

Add configurable timeout
  Makefile
  charts/console/ci/test-config.yaml
  charts/gateway/ci/test-config.yaml
  charts/provisioner/ci/test-config.yaml
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add support of extra secret env var in test runner
  .github/workflows/chart-test.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/test-config.yaml
  test/config.py
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update CI secret name
  .github/workflows/chart-test.yaml
Due: none

Update Console chart application to 1.43.3
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.43.3 (#259)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.28.3
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

fix kafkasql nil-check crash and swapped username/password credentials
  charts/console/templates/console/secret-credentials.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix kafkasql nil-check crash and swapped username/password credentials (#260)
  charts/console/templates/console/secret-credentials.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Console chart application to 1.44.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.44.0 (#261)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.29.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.18.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.18.0 (#262)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.18.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

docs(gateway): add air-gapped deployment guide to README
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): add air-gapped deployment guide to README (#263)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator
