Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false
  stages:
  ...

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

Fix cert SAN for internal listener
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Gateway: Fix README examples and internal listener cert SANs (#281)
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update index.yaml
  index.yaml
Due: none

docs(gateway): explain when to use internal, external service and ingress
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): refine the Expose the Gateway section after review
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

docs(gateway): explain when to use internal, external service and ingress (#282)
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Deprecate single listener and put multi-listener by default
  .github/workflows/chart-test.yaml
  charts/gateway/README.md
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/ci/10-legacy-portrange-values.yaml
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

update deprecation header
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Updated console version to 1.44.2
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Bumped chart verison
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix Gateway GATEWAY_LISTENER_INTERNAL_ADVERTISED_HOST env var
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix Gateway GATEWAY_LISTENER_EXTERNAL_ADVERTISED_HOST env var
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix Gateway GATEWAY_LISTENER_*_ADVERTISED_HOST env var (#285)
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update chart gateway version to 3.20.1
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Remove dedicated alertmanager port from Cortex chart (#270)
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/templates/cortex/deployment.yaml
  charts/console/templates/cortex/service.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.46.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.46.0 (#286)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.31.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.20.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fixed lint
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update/3.20.0 (#287)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Prepare Gateway 3.20.0 multi listeners GA (#283)
  .github/workflows/chart-test.yaml
  charts/gateway/README.md
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/ci/10-legacy-portrange-values.yaml
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.21.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Move truststore mount to dedicated folder /etc/gateway/truststore
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update README
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Move truststore mount to dedicated folder /etc/gateway/truststore (#288)
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.21.1
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Console chart application to 1.46.1
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.46.1 (#289)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.31.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

feat(gateway): add service.internal.enable flag to conditionally create internal ClusterIP service
  charts/gateway/templates/service-internal.yaml
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): add service.internal.enable to values.schema.json
  charts/gateway/values.schema.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

feat(gateway): skip auto-derived internal advertised host and add validation when service.internal.enable=false
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
