Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: 'charts/.*/templates/.*\.yaml$'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: '(charts/.*/README\.md$|charts/.*/values\.yaml$|charts/.*/ci/.*\.yaml$)'
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: end-of-file-fixer
        exclude: '(charts/.*/.*\.schema.json$)'
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: helm-lint-gateway
        name: Helm Lint Gateway Chart
        entry: bash -c 'helm lint charts/gateway'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-console
        name: Helm Lint Console Chart
        entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test' # pragma: allowlist secret
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: helm-lint-provisioner
        name: Helm Lint Provisioner Chart
        entry: bash -c 'helm lint charts/provisioner'
        language: system
        pass_filenames: false
        files: ^charts/
        stages: [pre-commit, pre-push, manual]
      - id: readme-generator
        name: Generate Chart READMEs
        entry: make generate-readme
        language: system
        pass_filenames: false
        files: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
        types: [text]
        stages: [pre-commit, pre-push, manual]

Update test with other tls.certManager values
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update README with cert-manager examples
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add check for cert-manager CRD availability
  charts/gateway/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update default certificat validity
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Self review fixes
  README.md
  charts/gateway/README.md
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
  test/helm.py
  test/lint.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

revert test nameOverride to pass upgrade tests
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/04-listener-internal-only-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Updated console Readme for adding persistent volumes to console + cortex.
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix(console): make kafkasql guards safe on pre-Go-1.18 Helm
  charts/console/templates/_helpers.tpl
  charts/console/templates/console/secret-credentials.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix(console): make kafkasql guards safe on pre-Go-1.18 Helm (#278)
  charts/console/templates/_helpers.tpl
  charts/console/templates/console/secret-credentials.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update internal listerner properties and values descriptions.
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Move brokerIds to gateway.kafka.brokerIds value
  charts/gateway/README.md
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add new preview listeners configs
  .gitignore
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add listeners tests
  charts/gateway/ci/04-listener-internal-only-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/ci/tls/selfsigned.jks
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/tests/health-check.yaml
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Deprecate legacy portRange and interceptors config with migration hints and doc.
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Review update wording and remove depreciation on portRange
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.19.1
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Added Gateway charts to help investigate latency issue
  charts/gateway/grafana-dashboards/gateway.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Added Gateway charts to help investigate latency issue (#279)
  charts/gateway/grafana-dashboards/gateway.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Updated the cortex pvc instructions based on quentins comments
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Updated Readme for adding persistent volumes to console + cortex (#277)
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.30.2
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Gateway: Add new preview listeners configs (#267)
  .gitignore
  charts/gateway/README.md
  charts/gateway/ci/04-listener-internal-only-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/ci/tls/selfsigned.jks
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add support for cert-manager managed certificats for listener/http
  Makefile
  README.md
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/certificate.yaml
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/secrets.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
  k3d/selfsigned-issuer.yaml
  test/dependencies.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update readme
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix lint issue
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix tests values
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Gateway: Add support for cert-manager managed certificats for listener/http (#280)
  Makefile
  README.md
  charts/gateway/README.md
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/certificate.yaml
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/secrets.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
  k3d/selfsigned-issuer.yaml
  test/dependencies.py
  test/helm.py
  test/lint.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.20.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Remove gateway release 3.20.0
  index.yaml
Due: none

Fix README multi-listener naming, ToC and brokerIds examples
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Fix other typo and ports conflicts in examples
  charts/gateway/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator
