Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, readme-generator

helm-lint:
  name: Helm Lint Charts
  ...

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false

Updated readme with new pre-commit hooks setup instructions
  README.md
Due: none

Fix pre-commit config and update all generated files
  .github/workflows/create-release.yaml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  .tool-versions
  CONTRIBUTING.md
  charts/console/README.md
  charts/console/templates/console/ingress-tls-secret.yaml
  charts/console/templates/console/pod-tls-secret.yaml
  charts/console/templates/secret-license.yaml
  charts/console/templates/tests/02-setup-secrets.yaml
  charts/console/values.schema.json
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/tests/01-setup-dependency.yaml
  charts/gateway/values.schema.json
  charts/provisioner/README.md
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/secret.yaml
  charts/provisioner/templates/tests/01-dependencies.yaml
  k3d/grafana-v4-api-v1alpha1/monitoring-stack-grafana-ds.yaml
Due: helm-lint, readme-generator

Setup pre-commit hooks with detect-secrets
  .pre-commit-config.yaml
  .secrets.baseline
  charts/console/ci/03-pod-tls-existingSecret-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
Due: helm-lint

Removed un-needed pragmas
  charts/console/ci/03-pod-tls-existingSecret-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
Due: helm-lint

Fix YAML linting error in gateway Chart.yaml
  charts/gateway/Chart.yaml
Due: helm-lint

Split lint into separate runs for each chart. Removed old hook
  .githooks/pre-commit
  .pre-commit-config.yaml
  Makefile
Due: none

Update Bitnami chart versions in provisioner tests
  charts/provisioner/templates/tests/01-dependencies.yaml
Due: helm-lint

Fix Legacy image being used
  .secrets.baseline
  charts/provisioner/templates/tests/01-dependencies.yaml
Due: helm-lint

Swapped from detect-secrets to gitleaks
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/install_dev_dependencies.sh
Due: none

Add pre-commit hooks using gitleaks (#245)
  .githooks/pre-commit
  .github/workflows/create-release.yaml
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  CONTRIBUTING.md
  Makefile
  README.md
  charts/console/README.md
  charts/console/templates/console/ingress-tls-secret.yaml
  charts/console/templates/console/pod-tls-secret.yaml
  charts/console/templates/secret-license.yaml
  charts/console/templates/tests/02-setup-secrets.yaml
  charts/console/values.schema.json
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/tests/01-setup-dependency.yaml
  charts/gateway/values.schema.json
  charts/provisioner/README.md
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/secret.yaml
  charts/provisioner/templates/tests/01-dependencies.yaml
  k3d/grafana-v4-api-v1alpha1/monitoring-stack-grafana-ds.yaml
  scripts/install_dev_dependencies.sh
Due: helm-lint, readme-generator

Fix provisioner initContainer console check url
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
Due: helm-lint

Add PVC to provisioner jobs to store CLI state prefixed with either console/gateway
  charts/provisioner/README.md
  charts/provisioner/templates/_helpers.tpl
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/statefile-pvc.yaml
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Fix grafana CRD setup on local dev env
  k3d/grafana-v5-api-v1beta1/monitoring-stack-grafana.yaml
Due: none

Fix provisioner chart tests and helm hooks
  README.md
  charts/provisioner/README.md
  charts/provisioner/templates/_helpers.tpl
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/statefile-pvc.yaml
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Update CLi image to 0.7.0
  charts/provisioner/Chart.yaml
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Add remote state support and fix pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  charts/provisioner/README.md
  charts/provisioner/templates/_helpers.tpl
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Move checksum to annoatations and add rollout
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
Due: helm-lint

Fix annotations and remove hooks from PVC
  charts/provisioner/README.md
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/statefile-pvc.yaml
Due: helm-lint, readme-generator

Keep same rollme value betwwen job and pod
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
Due: helm-lint

Fix tests and add documentation
  charts/provisioner/README.md
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/templates/NOTES.txt
  charts/provisioner/templates/_helpers.tpl
  charts/provisioner/templates/statefile-pvc.yaml
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Provisioner with state (#235)
  .gitignore
  .pre-commit-config.yaml
  README.md
  charts/provisioner/Chart.yaml
  charts/provisioner/README.md
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/templates/NOTES.txt
  charts/provisioner/templates/_helpers.tpl
  charts/provisioner/templates/cronjob.yaml
  charts/provisioner/templates/job.yaml
  charts/provisioner/templates/statefile-pvc.yaml
  charts/provisioner/values.schema.json
  charts/provisioner/values.yaml
  k3d/grafana-v5-api-v1beta1/monitoring-stack-grafana.yaml
Due: helm-lint, readme-generator

Update chart provisioner version to 0.2.0
  charts/provisioner/Chart.yaml
Due: helm-lint

Update index.yaml
  index.yaml
Due: none

simplify test framework
  .envrc
  .gitignore
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingSecret-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/templates/tests/01-setup-dependencies.yaml
  charts/console/templates/tests/02-setup-secrets.yaml
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfSigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/templates/tests/01-setup-dependency.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/Chart.lock
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/templates/tests/01-dependencies.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  shell.nix
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/utils.py
Due: helm-lint

First iteration
  .github/workflows/chart-test.yaml
  Makefile
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  test/__init__.py
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/requirements.txt
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/shared-deps/redpanda/values.yaml
  test/utils.py
Due: helm-lint

Fix gateway and provisioner tests
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/test-deps/dependencies.yaml
  test/shared-deps/kafka/values.yaml
Due: helm-lint

Fix chart test values linting with kubeconform
  shell.nix
  test/helm.py
  test/lint.py
  test/utils.py
Due: none

fix lint ci job and skip dependencies build if uneeded
  .github/workflows/chart-test.yaml
  test/helm.py
Due: none

Refactor test output format to use ANSI colors
  shell.nix
  test/kubernetes.py
  test/lint.py
  test/requirements.txt
  test/runner.py
  test/utils.py
Due: none

Merge dependencies in chart ci folders
  charts/console/ci/dependencies.yaml
  charts/gateway/ci/dependencies.yaml
  charts/provisioner/ci/dependencies.yaml
  test/config.py
  test/shared-deps/redpanda/values.yaml
Due: helm-lint

Cleanup helm tests and hidden tests flag values
  .pre-commit-config.yaml
  charts/console/templates/tests/03-platform-healthy.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.yaml
  charts/provisioner/values.yaml
Due: helm-lint, readme-generator

Remove test files from helm packaging
  charts/console/.helmignore
  charts/gateway/.helmignore
  charts/provisioner/.helmignore
Due: helm-lint

Optimize tests with async ns delete
  test/kubernetes.py
  test/runner.py
Due: none

Optimize tests with async depdendencies install
  test/dependencies.py
  test/helm.py
Due: none

Update Gateway resources on Provisioner test
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
Due: helm-lint

Set default database port during config sanitaze
  charts/console/templates/_helpers.tpl
Due: helm-lint

Rename test senario file
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
Due: helm-lint

Update Gateway resources on Provisioner test (#247)
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
Due: helm-lint

Fix console db default port (#248)
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/templates/_helpers.tpl
Due: helm-lint

Update Gateway chart application to 3.17.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint, readme-generator

Path conditions:
  helm-lint: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
