Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false

Fix lint
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.17.0 (#249)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart gateway version to 3.17.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Update Console chart application to 1.42.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix lint issue
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Console chart application to 1.42.0 (#250)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.27.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Cleanup helm tests and hidden tests flag values
  .pre-commit-config.yaml
  charts/console/templates/tests/03-platform-healthy.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.yaml
  charts/gateway/templates/tests/health-check.yaml
  charts/gateway/values.yaml
  charts/provisioner/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

simplify test framework
  .envrc
  .gitignore
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/templates/tests/01-setup-dependencies.yaml
  charts/console/templates/tests/02-setup-secrets.yaml
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfSigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/templates/tests/01-setup-dependency.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/Chart.lock
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/templates/tests/01-dependencies.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  shell.nix
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/utils.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix gateway and provisioner tests
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/provisioner/test-deps/dependencies.yaml
  test/shared-deps/kafka/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix chart test values linting with kubeconform
  shell.nix
  test/helm.py
  test/lint.py
  test/utils.py
Due: none

fix lint ci job and skip dependencies build if uneeded
  .github/workflows/chart-test.yaml
  test/helm.py
Due: none

Refactor test output format to use ANSI colors
  shell.nix
  test/kubernetes.py
  test/lint.py
  test/requirements.txt
  test/runner.py
  test/utils.py
Due: none

Merge dependencies in chart ci folders
  charts/console/ci/dependencies.yaml
  charts/gateway/ci/dependencies.yaml
  charts/provisioner/ci/dependencies.yaml
  test/config.py
  test/shared-deps/redpanda/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Remove test files from helm packaging
  charts/console/.helmignore
  charts/gateway/.helmignore
  charts/provisioner/.helmignore
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Optimize tests with async ns delete
  test/kubernetes.py
  test/runner.py
Due: none

First iteration
  .github/workflows/chart-test.yaml
  Makefile
  charts/console/test-deps/dependencies.yaml
  charts/console/test-deps/values/postgresql.yaml
  charts/gateway/test-deps/dependencies.yaml
  charts/gateway/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/dependencies.yaml
  charts/provisioner/test-deps/values/console.yaml
  charts/provisioner/test-deps/values/gateway.yaml
  charts/provisioner/test-deps/values/kafka.yaml
  charts/provisioner/test-deps/values/postgresql.yaml
  test/__init__.py
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/lint.py
  test/models.py
  test/requirements.txt
  test/runner.py
  test/shared-deps/kafka/values.yaml
  test/shared-deps/minio/values.yaml
  test/shared-deps/postgresql/values.yaml
  test/shared-deps/redpanda/values.yaml
  test/utils.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update upgrade detection
  Makefile
  test/config.py
  test/helm.py
  test/runner.py
Due: none

Optimize tests with async depdendencies install
  test/dependencies.py
  test/helm.py
Due: none

Share dependencies between tests
  Makefile
  charts/console/ci/01-basic-no-monitoring-values.yaml
  charts/console/ci/02-pod-tls-selfsigned-values.yaml
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/ci/04-credentials-from-secret-values.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/ci/07-ingress-tls-existing-secret-values.yaml
  charts/console/ci/08-ingress-tls-plain-pem-values.yaml
  charts/console/ci/test-config.yaml
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/provisioner/ci/01-provision-console-gateway-values.yaml
  charts/provisioner/ci/test-config.yaml
  test/config.py
  test/dependencies.py
  test/helm.py
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix comment linting issue
  charts/console/Chart.yaml
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Enable verbose on CI
  .github/workflows/chart-test.yaml
Due: none

Add missing checksum on selfsigned tls secret
  charts/console/templates/console/deployment.yaml
  charts/console/templates/cortex/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add pause_on_failure flag to debug test scenario
  charts/console/ci/03-pod-tls-existingsecret-values.yaml
  charts/console/templates/tests/health-check.yaml
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Remove useless namespace in tests extraDeploy
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add missing checksum annotation for selfsigned tls
  charts/console/templates/console/deployment.yaml
  charts/console/templates/cortex/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix comment lint in chart.yaml
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

fix lint
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix lint and template
  charts/console/Chart.yaml
  charts/console/templates/cortex/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix console deployment update (#251)
  charts/console/Chart.yaml
  charts/console/ci/05-external-monitoring-storage-values.yaml
  charts/console/ci/06-ingress-tls-selfsigned-values.yaml
  charts/console/templates/console/deployment.yaml
  charts/console/templates/cortex/deployment.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix comment linting issue
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
