Repository conduktor/conduktor-public-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

helm-lint-gateway:
  name: Helm Lint Gateway Chart
  entry: bash -c 'helm lint charts/gateway'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

helm-lint-console:
  name: Helm Lint Console Chart
  entry: bash -c 'helm lint charts/console --set config.organization.name=test,config.admin.email=test@test.io,config.admin.password=test,config.database.password=test,config.database.username=test,config.database.host=test'
  language: system
  pass_filenames: false
  stages:
  ...

helm-lint-provisioner:
  name: Helm Lint Provisioner Chart
  entry: bash -c 'helm lint charts/provisioner'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

readme-generator:
  name: Generate Chart READMEs
  entry: make generate-readme
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push
  - manual

Update Console chart application to 1.44.1
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.44.1 (#264)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.29.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update index.yaml
  index.yaml
Due: none

Doc for adding netshoot image as sidecar
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Revert TOC to original
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Wording update
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Doc for adding netshoot image as sidecar (#265)
  charts/console/README.md
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

fix kafkasql nil-check crash in _helpers.tpl when kafkasql is omitted
  charts/console/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add new preview listeners configs
  .gitignore
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/templates/service-external.yaml
  charts/gateway/templates/service-internal.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add listeners tests
  charts/gateway/ci/04-listener-internal-only-values.yaml
  charts/gateway/ci/05-listener-internal-external-values.yaml
  charts/gateway/ci/06-listener-internal-sni-values.yaml
  charts/gateway/ci/test-config.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/ci/tls/selfsigned.jks
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/tests/health-check.yaml
  test/kubernetes.py
  test/models.py
  test/runner.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update internal listerner properties and values descriptions.
  charts/gateway/README.md
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Deprecate legacy portRange and interceptors config with migration hints and doc.
  charts/gateway/README.md
  charts/gateway/templates/NOTES.txt
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Remove dedicated alertmanager port from Cortex chart
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/templates/cortex/deployment.yaml
  charts/console/templates/cortex/service.yaml
  charts/console/templates/tests/health-check.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.45.0
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.19.0
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Cus 912 helm chart kafkasql configuration cannot be disabled (#266)
  charts/console/templates/_helpers.tpl
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.19.0 (#269)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.45.0 (#268)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.30.0
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update chart gateway version to 3.19.0
  charts/gateway/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add repository configuration for Artifact Hub
  artifacthub-repo.yml
Due: none

Add ignore list for platform-controller and conduktor-proxy
  artifacthub-repo.yml
Due: none

Fix chart icon logo url
  charts/console/Chart.yaml
  charts/gateway/Chart.yaml
  charts/provisioner/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix chart icon links
  index.yaml
Due: none

Fix chart icon logo url (#271)
  charts/console/Chart.yaml
  charts/gateway/Chart.yaml
  charts/provisioner/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add chart annotations for artifacthub.io
  charts/console/Chart.yaml
  charts/gateway/Chart.yaml
  charts/provisioner/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Fix lint issues
  charts/console/Chart.yaml
  charts/gateway/Chart.yaml
  charts/provisioner/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

CUS-947: Ensure helm lint does not fail
  charts/console/values.yaml
  charts/gateway/templates/_helpers.tpl
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

CUS-947: Updated readme
  charts/console/README.md
  charts/console/values.schema.json
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.45.1
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Console chart application to 1.45.1 (#274)
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.schema.json
  charts/console/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update chart console version to 1.30.1
  charts/console/Chart.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Update Gateway chart application to 3.19.1
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Update Gateway chart application to 3.19.1 (#275)
  charts/gateway/Chart.yaml
  charts/gateway/README.md
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Add license for GW dependency on provisioner chart CI tests setup
  charts/provisioner/ci/test-config.yaml
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner

Add support for cert-manager managed certificats for listener/http
  Makefile
  README.md
  charts/gateway/ci/01-basic-gateway-required-values.yaml
  charts/gateway/ci/02-gateway-with-selfsigned-ingress-values.yaml
  charts/gateway/ci/03-complex-gateway-values.yaml
  charts/gateway/ci/04-listener-internal-only-values.yaml
  charts/gateway/ci/07-certmanager-tls-sni-values.yaml
  charts/gateway/ci/08-certmanager-tls-port-values.yaml
  charts/gateway/ci/09-certmanager-tls-internal-external-sni-values.yaml
  charts/gateway/ci/tls/generate.sh
  charts/gateway/templates/NOTES.txt
  charts/gateway/templates/_helpers.tpl
  charts/gateway/templates/certificate.yaml
  charts/gateway/templates/deployment.yaml
  charts/gateway/templates/secrets.yaml
  charts/gateway/templates/service-broker-sni.yaml
  charts/gateway/values.schema.json
  charts/gateway/values.yaml
  k3d/selfsigned-issuer.yaml
  test/dependencies.py
Due: helm-lint-gateway, helm-lint-console, helm-lint-provisioner, readme-generator

Path conditions:
  helm-lint-gateway: any of: ^charts/
  helm-lint-console: any of: ^charts/
  helm-lint-provisioner: any of: ^charts/
  readme-generator: any of: ^charts/.*/(values\.yaml|values\.schema\.json|README\.md)$
